.product-crud-form-card {
  padding: 20px;
}

.product-crud-form-title {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -0.015em;
  margin-bottom: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.product-crud-inputs-container {
  margin-bottom: 30px;
}

.product-crud-inputs-left-container {
  margin-bottom: 30px;
}

.product-crud-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.product-crud-buttons {
  height: 50px;
  border-radius: 10px;
  width: 110px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .product-crud-buttons-container {
    justify-content: flex-end;
  }

  .product-crud-buttons {
    margin-left: 30px;
    width: 270px;
  }
}

@media (min-width: 992px) {
  .product-crud-inputs-left-container {
    margin: 0;
  }
}
