.auth-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid red;
}

.auth-baner-container {
  display: none;
  border: 1px solid orange;
}

.auth-form-container {
  width: 100%;
  border: 1px solid blue;
}

@media (min-width: 576px) {
  .auth-form-container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .auth-form-container {
    width: 550px;
  }
}

@media (min-width: 1200px) {
  .auth-baner-container {
    display: flex;
    flex-direction: column;
  }
}
