.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.pagination-item.active {
    background-color: #407bff;
}

.arrow-previous{
    transform: rotate(-180deg);

}

.arrow-inactive{
    color: #e1e1e1;

}

.arrow-active{
    color: #407bff;

}
