.categorie-badge-container {
  background-color: #c4c4c4;
  padding: 7px;
  border-radius: 10px;
  color: #424242;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  height: 33px;
  margin-right: 10px;
  margin-bottom: 13px;
}
