.product-filter-container {
  margin-bottom: 20px;
  padding: 15px;
}

.product-filter-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
}

.product-filter-name-container input {
  border: none;
}

.product-filter-name-container input::placeholder {
  color: #9e9e9e;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

.product-filter-search-icon {
  border: none;
  background-color: unset;

}

.product-filter-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

.product-filter-category-container {
  flex: 1;
}

.btn-product-filter-clear {
  font-weight: bold;
  border-radius: 10px;
}

.btn-product-filter-word {
  display: none;

}

product-filter-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
}

.product-filter-select__placeholder {
  color: #9e9e9e !important;
}

.product-filter-select__indicator-separator {
  display: none;
}

@media (min-width: 576px) {

  .btn-product-filter-word {
    display: unset;
  }

}

@media (min-width: 778px) {
  .product-filter-container {
    margin-left: 20px;
    flex: 1;
    margin-bottom: 0;
  }
}