.product-filter-container {
  margin-bottom: 20px;
  padding: 15px;
}

.product-filter-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.product-filter-name-container input {
  border: none;
}

.product-filter-name-container input::placeholder {
  color: #9e9e9e;
}

.product-filter-name-container input:focus {
  box-shadow: none;
}

@media (min-width: 778px) {
  .product-filter-container {
    margin-left: 20px;
    flex: 1;
    margin-bottom: 0;
  }
}
